<nav>
  <ul class="horizontal">
    <li>
      <a
        routerLink="/"
        [class]="{ active: isActive('/') }"
        (isActiveChange)="onRouterLinkActive($event)"
        >Home</a
      >
    </li>
    @if(!isLoggedIn()) {
    <li>
      <a
        routerLink="/login"
        routerLinkActive="active-link"
        [class]="{ active: isActive('/login') }"
        >Login</a
      >
    </li>
    } @if(isLoggedIn()){
    <li>
      <a
        [class]="{ active: isActive('/welcome') }"
        routerLink="/welcome"
        routerLinkActive="active-link"
        [class]="{ active: isActive('/welcome') }"
        >Welcome {{ userName }}
      </a>
    </li>
    <li>
      <a
        [class]="{ active: isActive('/attorneys') }"
        routerLink="/attorneys"
        routerLinkActive="active-link"
        [class]="{ active: isActive('/attorneys') }"
        >Attorneys
      </a>
    </li>
    <li>
      <a
        [class]="{ active: isActive('/judges') }"
        routerLink="/judges"
        routerLinkActive="active-link"
        [class]="{ active: isActive('/judges') }"
        >Judges
      </a>
    </li>
    <li>
      <a
        [class]="{ active: isActive('/defendants') }"
        routerLink="/defendants"
        routerLinkActive="active-link"
        [class]="{ active: isActive('/defendants') }"
        >Defendants
      </a>
    </li>
    <li>
      <a
        [class]="{ active: isActive('/cases') }"
        routerLink="/cases"
        routerLinkActive="active-link"
        [class]="{ active: isActive('/cases') }"
        >Cases
      </a>
    </li>
    <li>
      <a
        [class]="{ active: isActive('/logout') }"
        routerLink="/logout"
        routerLinkActive="active-link"
        [class]="{ active: isActive('/logout') }"
        >Logout</a
      >
    </li>
    }
  </ul>
</nav>
